.header {
  background-color: #1898d6;
  height: 90px;

  text-align: end;
  border: white solid 2px;
  box-shadow: 3px 3px #3b3b3b26;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.heading {
  color: white;
  font-size: 60px;
  font-weight: 200;
  padding-right: 15px;
}

.logo {
  height: 70px;
  padding-left: 5px;
}
